.first-box {
    background-color: #ffbaba;
    color: #ffffff;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
    width: 60%;
}
strong {
    font-size: 26px;
    font-weight: 900;
}
.btn {
    font-size: 18px;
    font-weight: 700;
}